<template>
  <div id="header">
    <Logo />
    <div class="nav">
      <router-link to="/news">News</router-link>
      <router-link to="/cats">Cats</router-link>
    </div>
  </div>
</template>

<script>
import Logo from "../Logo.vue";

export default {
  name: "Header",
  components: {
    Logo
  }
};
</script>

<style lang="scss" scoped>
@import "../../styles/vars";

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 30px;
}
a {
  margin: 0 10px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $grey;
  transition: color 0.2s ease-in-out;
}
a:last-child {
  margin: 0 0 0 10px;
}
a:hover {
  color: white;
}

@media only screen and (min-width: 600px) {
  #header {
    padding: 30px 60px;
  }
}
</style>
