<template>
  <div class="article">
    <SectionHeader text="Details" />
    <ArticleDetails :article="article" />
    <SectionHeader text="JSON" />
    <textarea class="prettyJSON" v-model="prettyJSON" />
  </div>
</template>

<script>
import { mapGetters } from "vuex";

import SectionHeader from "../components/SectionHeader.vue";
import ArticleDetails from "../components/ArticleDetails.vue";

export default {
  components: {
    SectionHeader,
    ArticleDetails
  },
  computed: mapGetters(["article", "prettyJSON"])
};
</script>

<style lang="scss" scoped>
@import "../styles/vars";

.article {
  align-items: center;
}
.prettyJSON {
  font-family: monospace;
  height: 320px;
  width: 100%;
  max-width: 640px;
  resize: none;
  border: none;
  background-color: transparent;
  color: $grey;
  font-size: 14px;
  padding: 15px;
  box-sizing: border-box;
  outline: none;
}
</style>
