<template>
  <section class="cats">
    <div class="image" :style="{ backgroundImage: `url(${catImageURL})` }" />
    <Button text="Next" :handleClick="fetchCatImage" />
  </section>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

import Button from "../components/Button.vue";

export default {
  name: "Cats",
  components: {
    Button
  },
  methods: mapActions(["fetchCatImage"]),
  computed: mapGetters(["catImageURL"]),
  created() {
    this.fetchCatImage();
  }
};
</script>

<style scoped>
.cats {
  align-items: center;
}
.image {
  height: 50vh;
  width: 95%;
  max-width: 640px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
</style>
