<template>
  <section class="home">
    <h1>
      <span class="emphasize">Just</span> the<br /><span class="emphasize"
        >good stuff</span
      >
    </h1>
    <p>
      Cut the boring stuff out of the<br />internet and focus on what's<br />important;
      <span class="emphasize">Coding and Cats</span>.
    </p>
  </section>
</template>

<style lang="scss" scoped>
@import "../styles/vars";

.home {
  padding: 0 45px;
}
h1 {
  font-size: 32px;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 700;
  color: $light;
  margin: 0 0 15px 0;
}
.emphasize {
  color: white;
}
p {
  font-size: 12px;
  line-height: 1.7;
}

@media only screen and (min-width: 600px) {
  .home {
    padding: 15%;
  }
  h1 {
    font-size: 46px;
  }
  p {
    font-size: 16px;
  }
}
</style>
