<template>
  <section class="news">
    <SectionHeader text="Top 25" />
    <ListItem
      v-for="article in articles"
      :key="article.id"
      :id="article.id"
      :title="article.title"
      :user="article.user"
      :date="article.date"
    />
  </section>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

import SectionHeader from "../components/SectionHeader.vue";
import ListItem from "../components/ListItem.vue";

export default {
  name: "News",
  components: {
    SectionHeader,
    ListItem
  },
  methods: mapActions(["fetchNews"]),
  computed: mapGetters(["articles"]),
  created() {
    this.fetchNews();
  }
};
</script>

<style>
.news {
  align-items: center;
  padding: 0 0 45px 0;
}
</style>
