<template>
  <div class="articleDetails">
    <div v-for="(value, key) in article" :key="key" class="listItemContainer">
      <div class="listItem">
        <div>{{ `${key}:` }}</div>
        <div class="value">{{ value }}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    article: Object
  }
};
</script>

<style scoped>
.articleDetails {
  width: 100%;
  max-width: 640px;
}
.listItemContainer:hover {
  color: white;
}
.listItem div {
  font-size: 13px;
  margin: 5px;
}
.value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
