<template>
  <div class="button" @click="handleClick">
    {{ text }}
  </div>
</template>

<script>
export default {
  name: "Button",
  props: {
    text: String,
    handleClick: Function
  }
};
</script>

<style lang="scss" scoped>
@import "../styles/vars";

.button {
  margin: 45px 0 15px 0;
  padding: 10px 15px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: $light;
  border: 1px solid $light;
  border-radius: 3px;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.button:hover {
  background-color: $light;
  color: white;
}
</style>
