<template>
  <div class="listItemContainer">
    <router-link :to="{ name: 'article', params: { id } }">
      <div class="listItem">
        <div>
          <div class="title">{{ title }}</div>
          <div class="user">{{ user }}</div>
        </div>
        <div class="date">{{ date }}</div>
      </div>
    </router-link>
  </div>
</template>

<script>
export default {
  name: "ListItem",
  props: {
    id: Number,
    title: String,
    user: String,
    date: String
  }
};
</script>

<style lang="scss" scoped>
@import "../styles/vars";

.title,
.date {
  font-size: 13px;
  color: white;
  margin: 5px;
}
.user {
  font-size: 12px;
  color: $grey;
  margin: 5px;
}
</style>
