<template>
  <div class="logo">
    <router-link to="/">Tabby.</router-link>
  </div>
</template>

<script>
export default {
  name: "Logo"
};
</script>

<style lang="scss" scoped>
@import "../styles/vars";

.logo a {
  font-size: 18px;
  font-weight: 700;
  color: $light;
}
</style>
