<template>
  <div class="sectionHeaderContainer">
    <div class="sectionHeader">
      {{ text }}
    </div>
  </div>
</template>

<script>
export default {
  name: "SectionHeader",
  props: {
    text: String
  }
};
</script>

<style lang="scss" scoped>
@import "../styles/vars";

.sectionHeaderContainer {
  position: relative;
}
.sectionHeader {
  font-size: 21px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
  padding: 15px 0;
  margin: 60px 0;
}
.sectionHeader:after {
  content: "";
  position: absolute;
  bottom: 60px;
  left: 50%;
  height: 1px;
  width: 66%;
  background-color: $light;
  transform: translateX(-50%);
}
</style>
