<template>
  <div id="app">
    <Header />
    <router-view class="page" />
  </div>
</template>

<script>
import Header from "./components/layout/Header.vue";

export default {
  name: "app",
  components: {
    Header
  }
};
</script>

<style lang="scss">
@import "styles/vars";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
* END RESET
*/

#app {
  font-family: "Montserrat", "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: $dark;
  color: $grey;
  background-image: url("./assets/Screen Shot 2019-09-30 at 6.05.21 PM.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 60px);
  box-sizing: border-box;
}
.listItemContainer {
  position: relative;
  width: 100%;
  max-width: 640px;
}
.listItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}
.listItem.link {
  cursor: pointer;
}
.listItem:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.listItem:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 1px;
  width: 66%;
  background-color: $grey;
  opacity: 0.2;
  transform: translateX(-50%);
}
.listItemContainer:last-child .listItem:after {
  content: none;
}
a {
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  .page {
    min-height: calc(100vh - 78px);
  }
}
</style>
